.dark {
    color: white;
}

html.dark,
body.dark,
div.dark {
    background-color: black;
    border-color: white !important;
}

#banner-buttons * .w3-button {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#banner-buttons * .w3-button:hover {
    transform: scale(1.1);
}